html{
  background-color: #9966FF;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, #FF0099), color-stop(.5, transparent), to(transparent));
  background-image: -moz-linear-gradient(left, #FF0099 50%, transparent 50%, transparent);
  background-image: -o-linear-gradient(left, #FF0099 50%, transparent 50%, transparent);
  background-image: -ms-linear-gradient(left, #FF0099 50%, transparent 50%, transparent);
  background-image: linear-gradient(left, #FF0099 50%, transparent 50%, transparent);
  -webkit-gradient-size: 35px 35px;
  -moz-background-size: 35px 35px;
  background-size: 35px 35px;
}

#content{
  margin: auto;
  width: 1000px;
}

img{
  max-width: 100%;
  height: auto;
}
@media only screen and (max-width:767px){
  html{
    font-size: 62.5%;
  }
  body{
    font-size: 2.2rem;
  }
  header h1, header h2{
    font-size: 2.6rem;
  }
  nav{
    font-size: 1.6rem;
  }
}
