.s1{
  border-bottom: 2px solid #217fc4;
  clear:both;
}

iframe{
  margin-bottom: 5px;
}

.subunit{
  width: 300px;
  height:auto;
  font-size: 1.6rem;
  float: right;
}

@media only screen and (min-width:768px){
  .subunit{
    font-size:15px;
  }
}


.unit{
  margin-bottom: 100px;
  height:auto;
}
