#footer{
  position: fixed;
  bottom: 0;
  width: 1000px;
}

.footerdiv{
  background: #9ee4f0;
  height: 60px;
  margin: auto;
  padding-top: 30px;
}

.footer_item{
  float: left;
  color: #666666;
  border-bottom: 1px dashed gray;
  margin-right: 15px;
  margin-bottom: 20px;
}

.footer_link{
  font-size: 17px;
}

.footer_link:active{
  color: #ed991a;
}
