<footer id="footer">
  <section class="footerdiv">
    <ul style="list-style: none;">
     <li class="footer_item"><a href="/dango.html" class="footer_link" style="text-decoration:none;">ホーム</a></li>
     <li class="footer_item"><a href="http://www.sakaehigashi.ed.jp/" class="footer_link" style="text-decoration:none;">栄東official</a></li>
     <li class="footer_item"><a href="/questionnaire.php" class="footer_link" style="text-decoration:none;">お問い合わせ</a></li>
     <li class="footer_item"><a href="recruitment.php" class="footer_link" style="text-decoration: none;">記事投稿</a></li>
    </ul>
  </section>
</footer>
