<footer id="footer">
  <section class="footerdiv">
    <ul style="list-style: none;">
     <li class="footer_item"><a href="/index.php" class="footer_link" style="text-decoration:none;">トップへ</a></li>
     <li class="footer_item"><a href="http://www.sakaehigashi.ed.jp/" class="footer_link" style="text-decoration:none;">栄東official</a></li>
     <li class="footer_item"><a href="/questionnaire/questionnaire.php" class="footer_link" style="text-decoration:none;">お問い合わせ</a></li>
     <li class="footer_item"><a href="/recruitment.php" class="footer_link" style="text-decoration: none;">記事応募</a></li>
     <li class="footer_item"><a href="/olaf/loginforolaf.php" class="footer_link" style="text-decoration: none;">オラフ用入口</a></li>
     <li class="footer_item"><a href="/blog/privacy.php" class="footer_link" style="text-decoration: none;">プライバシーポリシー</a></li>
    </ul>
  </section>
</footer>
