<header id="header">
    <h1><a href="/index.php">爆ぜろSCC</a></h1><!--クリックできるように 猫-->
    <h2>なにかしらやります！暇な時にお立ち寄りを(*´ω｀)</h2>
    <script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&lang=ja"></script>
    <gcse:search></gcse:search>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/jquery.bgswitcher.js"></script>
    <script type="text/javascript">
    jQuery(function($) {
      $('#header').bgSwitcher({
        images: [ '/image/header2.JPG','/image/header3.png','/image/header4.png','/image/header5.png'],
        interval: 5000,
        effect: "fade",
        loop: true,
        shuffle: true,
        duration: 500
      });
    });
    </script>
</header>
