<header id="header">
    <h1><a href="/dango.php">だんご三兄弟</a></h1><!--クリックできるように 猫-->
    <h2>なにかしらやります！暇な時にお立ち寄りを(*´ω｀)</h2>
    <input type="button" value="ログイン" onclick="window.location.href='/login/login.php';"></input>
    <input type="button" value="ログアウト" onclick="window.location.href='/login/logout.php';"></input>
    <input type="button" value="ユーザ登録" onclick="window.location.href='/login/register.php';"></input>
    <form id="cse-search-box" action="http://google.com/cse">
      <input type="hidden" name="cx" value="017703239158910915868:flmyg9vc3kc"/>
      <input type="hidden" name="ie" value="UTF-8" />
      <input type="text" name="q" size="31" class="customsearch" />
      <input type="submit" name="sa"  value="検索" class="search" />
    </form>
    <script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&lang=ja"></script>
    <gcse:search></gcse:search>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="/jquery.bgswitcher.js"></script>
    <script type="text/javascript">
    jQuery(function($) {
      $('#header').bgSwitcher({
        images: ['/image/header1.png', '/image/header2.JPG'],
        interval: 5000,
        effect: "fade",
        loop: true,
        shuffle: true,
        duration: 500
      });
    });
    </script>
</header>
