#header{
 background-image:url();

 max-width: 906px;
 width: 90%;
 margin: auto;
 background-image: url(https://pbs.twimg.com/media/DI93b7pUQAICpN4.jpg:large);
}

header h1{/*#headerを追加:猫派*/
 text-align: left;
 margin-top: 0px;
 font-weight: lighter;
}

header h1 a{/*クリックできるように:猫*/
  text-decoration: none;
  color: black;
}

header h2{/*#headerを追加:猫派*/
  text-align: left;
  margin-bottom: 0px;
  font-weight: lighter;
}
/* 検索フォーム */
#cse-search-box{
 width: 25%;
 display: inline;
 margin-left: 68%;
 height: 25px;
 /* position: relative;
 top: -5px; /*検索ボックスの位置がheader画像の下に詰まりすぎてるのを修正*/ */
}
/* 入力ボックス */
.customsearch{
  width: 22%;
}
/* 検索ボタン */
.search{
  border-radius: 5px;
  background-color: #ffa200;
  height: 25px;
  display: inline;
}
