#main{
 margin-top: 50px;
 margin-bottom: 91px;/*国駿 スクロールして余らないように*/
 margin-left: 10px;
 margin-right: 10px;
 border: 2px double gray;
 height: auto;/*autoに変更:猫派*/
 background-color: white;
 line-height: 1.7;
}

/*main要素の末尾に改行を入れる*/
#main::after {
  content: "\A";
  white-space: pre;
}

/*ここから追加分----------------------*/
section{
  margin-left: 6%;
}

@media only screen and (max-width:767px){
  article section{
    margin-left: 3px !important;
    margin-right: 3px !important;
  }
  section h1, section h2, section h3, section h4, section h5, section h6{
      margin-left: -3px !important;
  }
}
section h1, section h2, section h3, section h4, section h5, section h6{
    margin-left: -3%;
}
