<nav id="nav">
  <div class="navi_menu">
    <a href="../dango.php" id="blog" style="text-decoration:none;">ブログ</a>
    <ul class="sub-menu">
      <li class="sub-menu-item" style="list-style: none"><a href="/blog/">目次</a></li>
      <li class="sub-menu-item" style="list-style: none"><a href="/blog/?tag=栄東">栄東</a></li>
      <li class="sub-menu-item" style="list-style: none"><a href="/blog/?tag=趣味">趣味</a></li>
      <li class="sub-menu-item" style="list-style: none"><a href="/blog/?tag=みんなの記事">みんなの記事</a></li>
      <li class="sub-menu-item" style="list-style: none"><a href="/blog/?tag=アップデートヒストリー">アップデートヒストリー</a></li>
    </ul>
  </div>
  <div class="navi_menu">
    <a href="/2content/index.php" id="hot_topic" style="text-decoration:none;">話題の《画像・動画》まとめ</a>
  </div>
  <div class="navi_menu">
    <a href="/post/" id="useful" style="text-decoration:none;">みんなの記事</a>
  </div>
  <div class="navi_menu">
    <a href="/bbs/index.php" id="board" style="text-decoration:none;">掲示板</a>
  </div>
</nav>
