<nav id="nav">
  <div class="navi_menu">
    <a href="/index.php" id="top" style="text-decoration:none;">トップ</a>
  </div>
  <div class="navi_menu">
    <a href="/index.php" id="blog" style="text-decoration:none;">ブログ</a>
  </div>
  <div class="navi_menu">
    <a href="/olaf/" id="olaf" style="text-decoration:none;">おらふのブログ</a>
  </div>
  <div class="navi_menu">
    <a href="/2content/index.php" id="hot_topic" style="text-decoration:none;">話題の画像・動画</a>
    <ul class="sub-menu">
      <li class="sub-menu-item" style="list-style: none"><a href="/2content/list.php">目次</a></li>
    </ul>
  </div>
  <div class="navi_menu">
    <a href="/post/" id="useful" style="text-decoration:none;">みんなの記事</a>
  </div>
  <div class="navi_menu">
    <a href="/bbs/index.php" id="board" style="text-decoration:none;">掲示板</a>
  </div>
</nav>
