#nav{
  background-color: #ffca91;
  position: relative;
  padding-top: 20px;
  padding-bottom: -100px;
  width: 95%;
  margin: auto;
  display: block;
  height: 310px;
  margin-bottom: 20px;
}

#nav li p a{
  font-size: 21px;
}

#nav li p{
  border-bottom: 1px solid black;
}

#nav ul{
  padding-right: 30px;
}

.ul1{
  width: 40%;
}

@media screen and (max-width: 769px){
  .ul2{
    position: relative;
    left: 450px;
    width: 40%;
    bottom: 290px;
  }
}

@media screen and (min-width: 770px){
  .ul2{
    display: none;
  }
}
