#nav{
  background-color: #ffca91;
  position: relative;
  padding-top: 20px;
  padding-bottom: 5px;
  width: 95%;
  margin: auto;
}

#nav li p a{
  font-size: 18px;
}

#nav li p{
  border-bottom: 1px solid black;
}

#nav ul{
  padding-right: 30px;
}
