.main-title{
 text-align: center;
 font-size: 40px;
 font-weight: lighter;
 display: block;
}

.main-date{
 text-align: right;
 padding-right: 20px;
 display: block;
 margin-bottom: 30px;
}

.main-main{
 display: block;
 margin-bottom: 30px;
 margin-left: 40px;
 margin-right: 40px;
}

.main-before{
 border: 1px solid black;
 display: inline-block;
 width: 466px;
 margin-left: 20px;
 height: 120px;
}

#trn{
  position: relative;
  top: 13px;
  left: 10px;
}

.before-blog{
 display: inline-block;
 width: 300px;
 text-align: center;
 position: relative;
 top: -22px;
 left: 10px;
 height: auto;
}

.main-after{
 border: 1px solid black;
 border-left: none;
 display: inline-block;
 float: right;
 width: 467px;
 margin-right: 20px;
 height: 120px;
}

#trn2{
  float: right;
  position: relative;
  top: 13px;
  right: 10px;
}

.next-blog{
  display: inline-block;
  width: 300px;
  margin-left: 20px;
  text-align: center;
  position: relative;
  top: 40px;
  height: auto;
}

.main-tocontents{
  text-align: right;
  padding-right: 20px;
  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

#blog_top,#olafblog_top{
 display: block;
 margin-bottom: 30px;
 margin-left: 40px;
 margin-right: 40px;
 border-style: solid;
 border-width: 1.2px;
 border-radius: 5px;
}
#blog_tab_link{
  margin-left: 43px;
  margin-right: 40px;
}
#blog_tab_link>a{
  display:inline-block;
  border-style: solid;
  border-width: 1.2px 1.2px 0 1.2px;
  border-radius: 5px 5px 0 0;
  text-decoration: none;
  color: black;
  margin-bottom: 0;
  padding: 8px;
}

.news{
  margin-bottom: 0px;
}

@media screen and (min-width: 770px){
  .sideber_rmk{
    display: none;
  }
  .to_blog-list{
    text-decoration: none;
    position: relative;
    left: 400px;
    font-size: 22px;
  }
}

@media screen and (max-width: 769px){
  .sideber_rmk{
    border: 2px double gray;
    width: 97%;
    margin: auto;
    border-radius: 6px;
  }

  .sideber_rmk ul{
    list-style: none;
    position: relative;
    width: 195px;
    position: relative;
    right: 20px;
  }

  .sideber_rmk ul li a{
    text-decoration: none;
  }

  input[type="button"]{
    -webkit-appearance: none;
    outline: 0;
    border: 0px;
    background: transparent;
    padding-left: 5px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 25px;
  }

  .sideber_rmk .user_rmk li:first-child{
    text-align: center;
  }

  .user_rmk{
    display: inline-block;
    float: left;
  }

  .user_rmk li{
    border: 2px double gray;
    border-top: none;
  }

  .user_rmk li:first-child{
    border-left: none;
    border-right: none;
  }

  .sideber_rmk .type_rmk li:first-child{
    text-align: center;
  }

  .sideber_rmk .type_rmk li a{
    color: green;
    font-size: 25px;
  }

  .type_rmk{
    display: inline-block;
    float: left;
  }

  .type_rmk li{
    border: 2px double pink;
    border-top: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .type_rmk li:first-child{
    border-left: none;
    border-right: none;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .rank_rmk{
    display: inline-block;
  }

  .rank_rmk li{
    border: 2px double #ff8400;
    border-top: none;
    height: 130px;
  }

  .rank_rmk li:first-child{
    border-left: none;
    border-right: none;
    height: auto;
    text-align: center;
  }

  .rank_rmk li a{
    display: block;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 25px;
  }

  .neko_rmk{
    max-width: 135px;
    height: auto;
    margin-left: 20px;
  }

  .footer_rmk{
    display: inline-block;
    float: left;
  }

  .footer_rmk li{
    border-bottom: 1px dotted gray;
    margin-bottom: 10px;
    padding-top: 10px;
  }

  .footer_rmk li a{
    font-size: 25px;
  }

  .to_blog-list{
    text-decoration: none;
    position: relative;
    left: 700px;
    font-size: 25px;
  }
}

section h1{
  margin-bottom: 25px;
  margin-top: 60px;
  font-size: 28px;
}

section h1:first-child{
  margin-top: 10px;
}
