#content{
  margin: auto;
  width: 1000px;
  background-color: #e0e0e0;
}

#header{
 background-image:url();

 width: 906px;
 margin: auto;
 background-image: url(https://pbs.twimg.com/media/DI93b7pUQAICpN4.jpg:large);
}

header h1{/*header指定 を追加:猫派*/
 text-align: left;/*左揃えに変更:猫派*/
 margin-top: 0px;
}

header h2{/*header指定 を追加:猫派*/
  text-align: left;/*左揃えに変更:猫派*/
  margin-bottom: 0px;
}

#cse-search-box{
 width: 320px;
 display: inline;
 margin-left: 680px;
 height: 25px;
}

.customsearch{
  width: 150px;
}

.search{
  border-radius: 5px;
  background-color: #ffa200;
  height: 25px;
  display: inline;
}

#nav{

}

.individual{
  float: left;
  text-align: center;
  width: 300px;
  border: 1px solid gray;
  border-right: none;
  margin-left: 46px;
  padding-top: 5px;
  height: 28px;
  background-color: #edf0a1;
}

#blog:active{
  color: #5197ed;
}

.individual:hover{
  background-color:#d5eba7;
}

.individual:hover > ul{
  display: block;
  color: ;
  background-color:#edf0a1;
  border:1px solid gray;
  border-bottom: none;
  position: relative;
  top: 4px;
  right: 1px;
  width: 300px;
}

.individual > ul{
  padding-left: 0px;
  display: none;
  margin: 0px;
}

.individual > ul:hover{
  display: block;
}

.individual > ul > li{
  border-bottom:1px solid gray;
  padding-top:5px;
  padding-bottom: ;
  padding-left: ;
  padding-right: ;
}

.individual > ul > li:hover{
  color: ;
  background-color:#d5eba7;
}

.individual > ul > li > a:active{
  color:#5197ed;
}

.individual > ul > li > a{
  text-decoration: none;
}

.administrator{
  float: left;
  text-align: center;
  width: 300px;
  border: 1px solid gray;
  border-right: none;
  padding-top: 5px;
  height: 28px;
  background-color: #edf0a1;
}

#useful:active{
 color: #5197ed;
}

.bbs{
  float: left;
  text-align: center;
  width: 302px;
  border: 1px solid gray;
  padding-top: 5px;
  height: 28px;
  background-color: #edf0a1;
}

#board:active{
 color: #5197ed;
}

#main{
 margin-top: 50px;
 margin-bottom: 91px;/*スクロールして余らない長さ*/
 margin-left: 10px;
 margin-right: 10px;
 border: 2px double gray;
 height: 3000px;
 background-color: white;
}

.wtf{
  height:1px;
}


#footer{
  position: fixed;
  bottom: 0;
  width: 1000px;
}

.footerdiv{
  background: #9ee4f0;
  height: 60px;
  margin: auto;
  padding-top: 30px;
}

.a{
  float: left;
  color: #666666;
  border-bottom: 1px dashed gray;
  margin-right: 15px;
  margin-bottom: 20px;
}

.b{
  float: left;
  color: #666666;
  border-bottom: 1px dashed gray;
  margin-right: 15px;
  margin-bottom: 20px;
}

.c{
  float: left;
  color: #666666;
  border-bottom: 1px dashed gray;
  margin-right: 15px;
  margin-bottom: 20px;
}

.d:active{
  color: #ed991a;
}
