form h3{
  margin-left: 10px;
}

form input[type="text"], form textarea{
  margin: 20px;
}

form input[name="title"]{
    width: 30em;
  font-size: 1.4em;
}

form textarea{
    min-height: 200px;
    width: 80%;
    font-size: 1.2em;
}
.editor{
  min-height: 400px;
}
#tab_btn a{
  border: 1px solid gray;
  border-bottom: 0;
  padding: 3px;
}
#tab_btn{
    margin-left: 10px;
}
#tab_body{
  border: 1px solid gray;
}
#edit_content{
  padding-top: 10px;
}
#edit_content button{
  -webkit-appearance: none;
  font-size: 18px;
  padding: 7px 20px;
  background-color: 	#33FFCC;
  border: 1px solid white;
  border-radius: 15px 0 0 0 / 15px 0 0 0;
  color: #330033;
}
#main form .submit{
  -webkit-appearance: none;
  font-size: 18px;
  padding: 7px 20px;
  background-color: 	#33FFCC;
  border: 1px solid white;
  border-radius: 15px 0 0 0 / 15px 0 0 0;
  color: #330033;
}
