.messages{
  list-style-type: none;
  list-style-position: inside;
}
@media only screen and (max-width: 767px){
  .messages{
    padding: 0 !important;
  }
  .message_content{
    width: 100% !important;
    font-size: 1.2em;
  }
  section#form{
    margin-bottom:400px !important;
  }
}

.messages li{
  margin: 10px;
}

.message_content{
  width: 90%;
  border-style: solid;
  border-radius: 15px;
  border-width: thin;
  border-color: gray;
  display: flex;
}


.message_text{
  vertical-align: top;
  width:70%;
  margin: 5px;
  display: inline-block;
}

.message_info{
  width:30%;
  display: inline-block;
  border-left-style: solid;
  font-size: 15px;
}

.name{
}

.date{
  font-size: 12px;
}




.noreline{
  white-space: nowrap;
}
textarea{
  padding-bottom: 30%;
  width: 80%;
}
input#submit{
  -webkit-appearance: none;
  -webkit-appearance: none;
  font-size: 18px;
  padding: 7px 20px;
  background-color: 	#33FFCC;
  border: 1px solid white;
  border-radius: 15px 0 0 0 / 15px 0 0 0;
  color: #330033;
}
input#submit:last-child{
  padding: 10px 40px;
  font-size: 20px;
}
#returnTo{
  z-index: 1500;
  position: fixed;
  bottom: 10px;
  right: 50px;
  background-color: #084cff;
  border: solid 1px;
  border-radius: 5px;
  padding: 10px;
}

div#returnTo a{
  color: #0dff00;
}
